---
layout: default
title: Home
custom_css_class: home-page
---

<section class="projects">
    <h2>Projects</h2>
    <div class="project-grid">
        {% for post in site.posts %}
        <div class="project-card">
            <img src="{{ site.baseurl }}{{ post.image }}" alt="{{ post.title }}">
            <div class="card-content">
                <div class="tags">
                    {% for tag in post.tags %}
                    <span class="tag">{{ tag }}</span>
                    {% endfor %}
                </div>
                <h3 class="card-title">{{ post.title }}</h3>
                <p class="card-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
                <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
