--- 
--- 

   // $primary-color: #3498db;
   // $secondary-color: #2c3e50;
   // $accent-color: #e67e22;
   // $background-color: #f8f9fa;
   // $text-color: #333333;

body {
    background-color: #f8f9fa;
    color: #333333;
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

h1, h2, h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
  }

/* Header Styles */
header {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 20px;
}

/* Heading Styles with Horizontal Bar */
header h2 {
    position: relative;
    padding-bottom: 10px;
    margin-top: 40px;
    margin-bottom: 5px;
    color: #3498db;
    font-size: 24px;
}

header h2::before {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    margin-bottom: 10px;
    background: linear-gradient(to right, rgba(#3498db, 0.5), #2c3e50);
}

h3 {
    margin-top: 10px;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.title-description h1 {
    font-size: 2.8rem;
}

.title-description h2 {
    font-size: 2rem;
}

.header-content {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.profile-image img {
    width: 180px;
    height: 220px;
    border-radius: 10%;
    border: 3px solid #132b50;
    object-fit: cover;
}

.title-description {
    margin-left: 20px;
    flex-grow: 1;
    text-align: left;
}

.title-description h1 {
    font-size: 2.5rem;
    margin: 0;
    font-weight: 400;
}

.title-description h2 {
    font-size: 1.8rem;
    margin: 5px 0 0;
    font-weight: 300;
}

.title-description h2 span {
    color: #ff6600; /* Orange color for 'Portfolio' */
}

.intro-text {
    border-top: 1px solid #ffffff;
    padding-top: 15px;
}

.intro-text p {
    font-size: 1rem;
    line-height: 1.5;
    margin: 0;
}

/* Navigation Styles */

nav {
    background-color: #2c3e50;
    padding: 15px 0;
    margin-bottom: 0px;
    text-align: center; // Center-justify the navigation

    a {
        display: inline-block;
        color: #ffffff;
        text-decoration: none;
        padding: 10px 20px;
        margin: 5px;
        border-radius: 25px;
        transition: all 0.3s ease;
        background-color: rgba(255, 255, 255, 0.1);
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-size: 0.9em;
        
        &:hover {
            background-color: #e67e22;
            transform: translateY(-2px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }
        
        &:active {
            transform: translateY(0);
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
        }
    }
}

.summary {
    background-color: #f8f9fa;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  
    h2 {
      color: #2c3e50;
      font-size: 2em;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .summary-content {
      font-size: 1.1em;
      line-height: 1.6;
      color: #333;
  
      p {
        margin-bottom: 15px;
  
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

.home-page {
    background-color: #ececec;
}

.profile {
    text-align: center;
    margin-bottom: 40px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
  }

.project-grid, .hidden-posts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin-bottom: 40px;
  }

.project-card {
    position: relative; /* Ensure positioning context for child elements */
    background-color: #1e1e1e;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px; /* Adjust padding if needed */
    color: #fff; /* Ensure text color is visible */
    display: flex;
    flex-direction: column;
}

.project-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.project-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    
    &:hover {
        transform: translateY(-5px);
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
    }
}

/* Style for the Read More button */
.read-more {
    margin-top: auto;
    align-self: flex-start;
    background-color: #3498db;
    color: #ffffff;
    padding: 8px 15px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 1.0em;
    transition: background-color 0.3s ease;
    /* Optional: add z-index if needed to ensure it appears above other content */
    z-index: 1; /* Ensure button is clickable */

    &:hover {
        background-color: darken(#3498db, 10%);
    }
}

.card-title {
    color: white;
    font-size: 1.5em;
    margin-top: auto;
    margin-bottom: 5px;
    font-weight: bold;
}

.card-content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.card-excerpt {
    color: #cccccc;
    font-size: 0.9em;
    margin-top: 10px;
    margin-bottom: 15px;
}

.card-company {
    color: #e67e22;
    font-size: 1.1em;
    margin-top: 5px;
    margin-bottom: 10px;
    font-weight: normal;
    font-style: italic;
}

.subsection {
    margin-bottom: 60px;
  
    h3 {
      font-size: 1.5em; // Increased from 1.8em to make it bigger
      margin-bottom: 25px; // Slightly increased margin for better spacing
      color: #2c3e50; 
      font-style: italic;
      text-align: left;
      font-weight: 600; // Make it slightly bolder
      //text-transform: uppercase; // Optional: makes it all capitals for more emphasis
      letter-spacing: 1px; // Adds a bit of spacing between letters
      border-bottom: 2px solid #e67e22;// Adds an underline semi-transparent effect
      padding-bottom: 10px; // Adds some space between text and underline
    }
  }
  
  .show-more-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  
  .show-more {
    padding: 10px 20px;
    background-color: #3498db;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: #2980b9;
    }
  }

  .hidden-posts {
    display: none;
  }

  .hidden-posts .show-more-container {
    grid-column: 1 / -1;
    margin-top: 20px;
  }
  
  @media (max-width: 768px) {
    .project-grid, .hidden-posts {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 480px) {
    .project-grid, .hidden-posts {
      grid-template-columns: 1fr;
    }
  }

.post-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}

.post-tags {
    margin-top: 20px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 10px;
}

.tag {
    background-color: rgba(0, 255, 0, 0.2);
    color: #00ff00;
    border: 1px solid #00ff00;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.8em;
}


/* Post Styles */
.post {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.post-header {
    background-color: #f8f9fa; /* Light background color */
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-title {
    font-size: 2.5rem;
    color: #2c3e50; /* Dark blue color for better contrast */
    margin-bottom: 10px;
}

.post-meta {
    font-size: 1rem;
    color: #6c757d; /* Muted color for date */
}

.post-tags {
    margin-top: 15px;
}

.post-tags .tag {
    display: inline-block;
    background-color: #e9ecef;
    color: #495057;
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 0.9rem;
    margin-right: 5px;
    margin-bottom: 5px;
}

.post-content {
    font-size: 1.1rem;
    line-height: 1.6;
    color: #333;
}

/* Headings */
.post-content h1, .post-content h2, .post-content h3, 
.post-content h4, .post-content h5, .post-content h6 {
    margin-top: 30px;
    margin-bottom: 15px;
    color: #032b73;
}

.post-content h1 { font-size: 2.2rem; border-bottom: 2px solid #eaeaea; padding-bottom: 10px; }
.post-content h2 { font-size: 1.8rem; }
.post-content h3 { font-size: 1.5rem; }
.post-content h4 { font-size: 1.3rem; }
.post-content h5 { font-size: 1.1rem; }
.post-content h6 { font-size: 1rem; }

/* Paragraphs */
.post-content p {
    margin-bottom: 20px;
}

/* Lists */
.post-content ul, .post-content ol {
    margin-bottom: 20px;
    padding-left: 30px;
}

.post-content li {
    margin-bottom: 10px;
}

/* Code Blocks */
.post-content pre {
    background-color: #f6f8fa;
    border: 1px solid #e1e4e8;
    border-radius: 3px;
    padding: 16px;
    overflow-x: auto;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
    line-height: 1.45;
    margin-bottom: 20px;
}

.post-content code {
    background-color: #f6f8fa;
    padding: 2px 4px;
    border-radius: 3px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9em;
}

/* Tables */
.post-content table {
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 20px;
}

.post-content th, .post-content td {
    border: 1px solid #e1e4e8;
    padding: 8px;
    text-align: left;
}

.post-content th {
    background-color: #f6f8fa;
    font-weight: bold;
}

.post-content tr:nth-child(even) {
    background-color: #f6f8fa;
}



.skill-showcase h2, .work-experience h2 {
    position: relative;
    padding: 20px 20px; // Added horizontal padding
    margin-bottom: 30px;
    font-size: xx-large;
    color: #04084b; // Light color for the text
    background-color: #99bef1; // Dark background color
    border-radius: 10px;
    text-align: center;
    width: 97%; // Full width of its container
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); // Subtle shadow for depth
}

// .skill-showcase h2::before, .work-experience h2::before {
//     content: '';
//     display: block;
//     width: 100%;
//     height: 3px;
//     margin-bottom: 10px;
//     background: linear-gradient(to right, 
//         #99bef1,   /* Light at the start */
//         #04084b 50%,              /* Dark in the center */
//         #99bef1    /* Light at the end */
//     );
// }

/* Images */
.post-content img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Blockquotes */
.post-content blockquote {
    border-left: 4px solid #3498db;
    padding-left: 20px;
    margin: 0 0 20px;
    color: #555;
    font-style: italic;
}

/* Horizontal Rule */
.post-content hr {
    border: 0;
    height: 1px;
    background-color: #e1e4e8;
    margin: 30px 0;
}

/* For smaller screens */
@media (max-width: 600px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        width: 80%;
        text-align: center;
        margin: 5px 0;
    }
}

@media (max-width: 768px) {
    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        a {
            flex: 1 1 40%; // Allow two buttons per row on smaller screens
            margin: 5px;
        }
    }
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .header-content {
        flex-direction: column;
        align-items: flex-start;
    }

    .title-description {
        margin-left: 20px;
        margin-top: 15px;
    }

    .title-description h1 {
        font-size: 2rem;
    }

    .title-description h2 {
        font-size: 1.5rem;
    }

    nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    nav a {
        margin: 5px;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-in;
  }
